<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name ="Default" connectionString="Server=GENDY-THINKPAD\SQLEXPRESS;Database=MWTEST;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="SharepointURL" value="http://94.127.212.102:2006/PWA"/>
        <add key="Username" value="spadmin"/>
        <add key="Password" value="Mt@.123!@#"/>
        <add key="Domain" value="masterteam"/>
        <!-- <add key="aspnet:AllowAnonymousImpersonation" value="false" /> -->
    </appSettings>
</configuration>